python-dotenv==1.0.0
requests==2.31.0
Flask==3.0.0
Flask-CORS==4.0.0
Flask-SQLAlchemy==3.1.1
python-docx==1.1.0
PyPDF2==3.0.1
Pillow==10.1.0
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
gunicorn==21.2.0
